.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 80px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.example-spacer {
  flex: 1 1 auto;
}

.bg-clr-bl{
  background-color: rgba(48, 93, 161, 0.51);
}

mat-nav-list a{
margin-bottom: 30px;
}

